.nav-bg{
    background-color: #db0011;
}

.navbar .nav-title{
    color: #ffffff !important;
    font-size: clamp(10px, 2vw, 11px);
}

.nav-subtitle{
    color: #ffffff;
    font-size: small;
    padding-left: 5px;
}

.profile-initials {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    color: #db0011;
    font-size: clamp(10px, 2vw, 11px);
    font-weight: bold;
    margin-right: 10px;
    border: 2px solid #db0011;
  }
  
  