.nav-bg{
    background-color: #db0011;
}

.nav-title{
    color: #ffffff;
    font-size: larger;
    padding-left: 20px;
}

.nav-subtitle{
    color: #ffffff;
    font-size: medium;
    padding-left: 5px;
}