/* index.css */
.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar .nav-link {
  color: black;
  font-size: "clamp(10px, 2vw, 11px)";
  line-height: 1.5;
  font-weight: 400;
  padding: 12px 16px;
}

.sidebar .nav-link.active {
  background-color: #db0011;
  color: white !important;
}

.sidebar .nav-link.active:hover {
  color: white !important;
}

  .sidebar .nav-link:hover {
    cursor: pointer;
    color: #a5020f;
  }
  
  .sidebar hr {
    border-top: 1px solid #db0011;
  }

@media(max-width: 900px) {
.hide{
  display: none;
}
.show{
  display: block;
}
.sidebar{
  width: 100%;
}
.sidebar .nav-link {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  padding: 12px 16px;
}
li .nav-item {
  width: 100%;
}
}