/* index.css */
.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .sidebar .nav-link {
    color: black;
  }
  
  .sidebar .nav-link.active {
    background-color: #db0011;
    color: white !important;
  }
  
  .sidebar .nav-link.active:hover {
    color: white !important;
  }
  
  .sidebar hr {
    border-top: 1px solid #db0011;
  }
  